# Importing the libraries

In [2]:
import pandas as pd
import numpy as np

# Reading the datasets

In [5]:
data_one= pd.read_excel('TravelPac 2009-2019 Labelled.xlsx' , 'Labelled 2009-2019')

In [6]:
data_one.shape

(396070, 14)

In [7]:
data_one.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [8]:
data_two= pd.read_excel('TravelPac Q1 2020.xls' , 'Labelled 2020 Q1')

In [9]:
data_two.shape

(6054, 14)

In [10]:
data_two.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,spend,sample
0,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,7818.886530,54175.066567,1.202859e+07,2.0
1,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,591.172016,2364.688064,2.482922e+05,1.0
2,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,1-3 nights,2119.172076,4238.344151,2.882074e+05,1.0
3,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,3574.025829,20320.439660,1.058497e+06,2.0
4,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,25-34,Male,1-3 nights,2939.672588,8819.017764,6.085122e+05,1.0

In [11]:
data_two_plus=data_two.rename(columns={'spend':'expend'})
data_two_plus.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,7818.886530,54175.066567,1.202859e+07,2.0
1,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,591.172016,2364.688064,2.482922e+05,1.0
2,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,1-3 nights,2119.172076,4238.344151,2.882074e+05,1.0
3,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,3574.025829,20320.439660,1.058497e+06,2.0
4,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,25-34,Male,1-3 nights,2939.672588,8819.017764,6.085122e+05,1.0

In [12]:
data_three= pd.read_excel('TravelPac 2021.xlsx' , 'Labelled 2021')

In [13]:
data_three.shape

(22900, 14)

In [14]:
data_three.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2021,Jan-Mar,UK residents,Air,Austria,Business,Independent,16-24,Female,28-90 nights,230.065,7822.21,92026.000,1
1,2021,Jan-Mar,UK residents,Air,Austria,Business,Independent,35-44,Male,4-13 nights,331.355,1325.42,331355.000,1
2,2021,Jan-Mar,UK residents,Air,Austria,Business,Non-Independent,16-24,Male,14-27 nights,230.065,4831.365,340036.070,1
3,2021,Jan-Mar,UK residents,Air,Austria,Business,Non-Independent,45-54,Male,1-3 nights,283.903,567.806,16182.471,1
4,2021,Jan-Mar,UK residents,Air,Bulgaria,Business,Independent,25-34,Male,4-13 nights,175.549,877.745,35109.800,1

###### Combine all datasets into one

In [15]:
data= pd.concat([data_one , data_two_plus , data_three] , axis=0 , ignore_index='True')

In [16]:
data.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [17]:
data.shape

(425024, 14)

###### Renaming some columns
Rename the following columns:
- ukos to where_contact_lives
- package to Holiday_Package
- duration to Duration of visit
- expend to Amount_Spent

In [18]:
data1=data.rename(columns= {'ukos':'where_contact_lives' , 'package':'Holiday_Package' , 'duration':'Duration_of_Visit' , 'expend':'Amount_Spent'})

In [19]:
data1.head()

,Year,quarter,where_contact_lives,mode,country,purpose,Holiday_Package,Age,Sex,Duration_of_Visit,visits,nights,Amount_Spent,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [20]:
data1['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Czech Republic',
       'Cyprus EU', 'Cyprus Non EU', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'Irish Republic', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Russia', 'Spain', 'Slovakia', 'Slovenia', 'Sweden', 'Switzerland',
       'Turkey', 'Channel Islands', 'Other Europe', 'Egypt', 'Tunisia',
       'Other North Africa', 'South Africa', 'Other Africa', 'Israel',
       'United Arab Emirates', 'Other Middle East', 'China - Hong Kong',
       'China - Other', 'India', 'Japan', 'Pakistan', 'Sri Lanka',
       'Thailand', 'Other Asia', 'Canada', 'USA', 'Mexico',
       'Other Central & Sth.America', 'Barbados', 'Jamaica',
       'Other Caribbean', 'Australia', 'New Zealand', 'Other countries'],
      dtype=object)

In [21]:
data1['country'].value_counts().head(40)

France                         36054
Germany                        22448
USA                            21143
Netherlands                    20888
Spain                          19047
Irish Republic                 16554
Belgium                        15716
Italy                          14770
Poland                         13084
Australia                      10887
Other Asia                     10413
Switzerland                     9821
Canada                          9308
India                           9235
Portugal                        8929
Other Africa                    8893
Other Middle East               8432
Sweden                          7713
United Arab Emirates            7250
Norway                          6894
Other Central & Sth.America     6891
Denmark                         6803
Romania                         6792
Austria                         6121
Turkey                          6042
Greece                          5889
China - Other                   5845
Czech Republic                  5728
South Africa                    5727
Hungary                         5511
Other Europe                    4686
Finland                         4377
China - Hong Kong               4326
Japan                           4325
Bulgaria                        4208
Cyprus EU                       4130
Thailand                        4088
Pakistan                        4083
New Zealand                     3966
Malta                           3633
Name: country, dtype: int64

In [22]:
data1['country'].value_counts().tail(23)

Malta                 3633
Israel                3555
Russia                3463
Lithuania             3446
Mexico                3257
Other Caribbean       3228
Other North Africa    2999
Egypt                 2595
Slovakia              2566
Iceland               2442
Croatia               2286
Latvia                2211
Sri Lanka             1754
Gibraltar             1457
Luxembourg            1431
Other countries       1390
Jamaica               1249
Tunisia               1162
Slovenia              1081
Barbados               963
Estonia                951
Cyprus Non EU          692
Channel Islands        196
Name: country, dtype: int64

In [23]:
data1.head()

,Year,quarter,where_contact_lives,mode,country,purpose,Holiday_Package,Age,Sex,Duration_of_Visit,visits,nights,Amount_Spent,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [24]:
data1['country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Czech Republic',
       'Cyprus EU', 'Cyprus Non EU', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'Irish Republic', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Russia', 'Spain', 'Slovakia', 'Slovenia', 'Sweden', 'Switzerland',
       'Turkey', 'Channel Islands', 'Other Europe', 'Egypt', 'Tunisia',
       'Other North Africa', 'South Africa', 'Other Africa', 'Israel',
       'United Arab Emirates', 'Other Middle East', 'China - Hong Kong',
       'China - Other', 'India', 'Japan', 'Pakistan', 'Sri Lanka',
       'Thailand', 'Other Asia', 'Canada', 'USA', 'Mexico',
       'Other Central & Sth.America', 'Barbados', 'Jamaica',
       'Other Caribbean', 'Australia', 'New Zealand', 'Other countries'],
      dtype=object)

#### Most passenger travelled country

In [25]:
data1['country'].value_counts(sort=True).head()

France         36054
Germany        22448
USA            21143
Netherlands    20888
Spain          19047
Name: country, dtype: int64

#### Least passenger travelled country

In [26]:
data1['country'].value_counts(sort=True).tail()

Slovenia           1081
Barbados            963
Estonia             951
Cyprus Non EU       692
Channel Islands     196
Name: country, dtype: int64

In [27]:
data1.shape

(425024, 14)

In [28]:
#clean up the index
find_null_data = data1.reset_index(drop=True)

In [29]:
find_null_data.shape

(425024, 14)

#### Summary of null values in the data

In [34]:
#Find out if there are null values in your data
#Are there any null values:
print(find_null_data.isnull().values.any())
#Find out how many - This gives you the breakdown per column
print('How many in each column?'),
print(find_null_data.isnull().sum())
#Gives you total overall
print('How many null values in total?')
print(find_null_data.isnull().sum().sum())

True
How many in each column?
Year                       0
quarter                    0
where_contact_lives        0
mode                       0
country                    0
purpose                    0
Holiday_Package            0
Age                        0
Sex                     1587
Duration_of_Visit          0
visits                 13054
nights                 13051
Amount_Spent              37
sample                   582
dtype: int64
How many null values in total?
28311

In [35]:
#lets delete the null values
dropped_null=find_null_data.dropna()

In [36]:
## Verifying deletion

In [37]:
dropped_null.isnull().sum()

Year                   0
quarter                0
where_contact_lives    0
mode                   0
country                0
purpose                0
Holiday_Package        0
Age                    0
Sex                    0
Duration_of_Visit      0
visits                 0
nights                 0
Amount_Spent           0
sample                 0
dtype: int64

In [38]:
dropped_null.shape

(410573, 14)

In [39]:
#check each column if unwanted values exist
print(f"Year {dropped_null['Year'].unique()}")
print(f"quarter {dropped_null['quarter'].unique()}")
print(f"where contact lives {dropped_null['where_contact_lives'].unique()}")
print(f"mode ={dropped_null['mode'].unique()}")
print(f"Country {dropped_null['country'].unique()}")
print(f"Purpose {dropped_null['purpose'].unique()}")
print(f"Holiday package {dropped_null['Holiday_Package'].unique()}")
print(f"Age {dropped_null['Age'].unique()}")
print(f"Sex {dropped_null['Sex'].unique()}")
print(f"Duration_of_Visit {dropped_null['Duration_of_Visit'].unique()}")

Year [2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
quarter ['Jan-Mar' 'Apr-Jun' 'Jul-Sep' 'Oct-Dec']
where contact lives ['UK residents' 'Overseas residents']
mode =['Air' 'Sea' 'Tunnel']
Country ['Austria' 'Belgium' 'Bulgaria' 'Croatia' 'Czech Republic' 'Cyprus EU'
 'Cyprus Non EU' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Gibraltar' 'Greece' 'Hungary' 'Iceland' 'Irish Republic' 'Italy'
 'Latvia' 'Lithuania' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Russia' 'Spain' 'Slovakia' 'Slovenia' 'Sweden'
 'Switzerland' 'Turkey' 'Other Europe' 'Egypt' 'Tunisia'
 'Other North Africa' 'South Africa' 'Other Africa' 'Israel'
 'United Arab Emirates' 'Other Middle East' 'China - Hong Kong'
 'China - Other' 'India' 'Japan' 'Pakistan' 'Sri Lanka' 'Thailand'
 'Other Asia' 'Canada' 'USA' 'Mexico' 'Other Central & Sth.America'
 'Barbados' 'Jamaica' 'Other Caribbean' 'Australia' 'New Zealand'
 'Other countries' 'Channel Islands']
Purpose ['Holiday' 'Business' 'VFR' 'Miscellaneous' 'Study' 'Transit']
Holiday package ['Independent' 'Non-Independent']
Age ['0-15' '16-24' '25-34' '35-44' '45-54' '55-64' '65 & over' 'D/K']
Sex ['Male' 'Female' 'Dont know' ' ']
Duration_of_Visit ['4-13 nights' '14-27 nights' '1-3 nights' '28-90 nights' 'Nil Stay'
 '3-6 months' '6 months-year' 'Stay not known']

In [40]:
#Remove unwanted values
#remove 'D/K' in Age  
dropped_null1= dropped_null[dropped_null.Age != 'D/K']
#remove 'Dont know' and ' ' in Sex
list= ['Dont know' , ' ']
dropped_null2= dropped_null1[dropped_null1.Sex.isin(list) == False]
#remove 'Stay not known' in Duration of visit
dropped_null3= dropped_null2[dropped_null2.Duration_of_Visit != 'Stay not known']

In [41]:
#Recheck the affected column if unwanted values still exist

print(f"Age {dropped_null3['Age'].unique()}")
print(f"Sex {dropped_null3['Sex'].unique()}")
print(f"Duration_of_Visit {dropped_null3['Duration_of_Visit'].unique()}")

Age ['0-15' '16-24' '25-34' '35-44' '45-54' '55-64' '65 & over']
Sex ['Male' 'Female']
Duration_of_Visit ['4-13 nights' '14-27 nights' '1-3 nights' '28-90 nights' 'Nil Stay'
 '3-6 months' '6 months-year']

In [42]:
dropped_null3.shape

(404775, 14)

In [43]:
dropped_null3.columns

Index(['Year', 'quarter', 'where_contact_lives', 'mode', 'country', 'purpose',
       'Holiday_Package', 'Age', 'Sex', 'Duration_of_Visit', 'visits',
       'nights', 'Amount_Spent', 'sample'],
      dtype='object')

In [44]:
dropped_null3['Duration_of_Visit'].value_counts()

4-13 nights      156409
1-3 nights       112474
14-27 nights      72699
28-90 nights      35990
Nil Stay          17534
3-6 months         7389
6 months-year      2280
Name: Duration_of_Visit, dtype: int64

In [45]:
#Drop sample, as it is not needed for our analysis

dropped_sample = dropped_null3.drop(['sample'], axis=1)

In [46]:
dropped_sample.shape

(404775, 13)

##### Writing data to file

In [47]:
dropped_sample.shape

(404775, 13)

In [48]:
#WRITE TO FILE
dropped_sample.to_excel(r'Travelpac_Clean_data.xlsx', index=False)