# Importing the libraries

In [45]:
import pandas as pd
import numpy as np

# Reading the datasets

In [46]:
data_one= pd.read_excel('TravelPac 2009-2019 Labelled.xlsx' , 'Labelled 2009-2019')

In [47]:
data_one.shape

(396070, 14)

In [48]:
data_one.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [49]:
data_two= pd.read_excel('TravelPac Q1 2020.xls' , 'Labelled 2020 Q1')

In [50]:
data_two.shape

(6054, 14)

In [51]:
data_two.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,spend,sample
0,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,7818.886530,54175.066567,1.202859e+07,2.0
1,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,591.172016,2364.688064,2.482922e+05,1.0
2,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,1-3 nights,2119.172076,4238.344151,2.882074e+05,1.0
3,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,3574.025829,20320.439660,1.058497e+06,2.0
4,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,25-34,Male,1-3 nights,2939.672588,8819.017764,6.085122e+05,1.0

In [52]:
data_two_plus=data_two.rename(columns={'spend':'expend'})
data_two_plus.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,7818.886530,54175.066567,1.202859e+07,2.0
1,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,591.172016,2364.688064,2.482922e+05,1.0
2,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,1-3 nights,2119.172076,4238.344151,2.882074e+05,1.0
3,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,3574.025829,20320.439660,1.058497e+06,2.0
4,2020,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,25-34,Male,1-3 nights,2939.672588,8819.017764,6.085122e+05,1.0

In [53]:
data_three= pd.read_excel('TravelPac 2021.xlsx' , 'Labelled 2021')

In [54]:
data_three.shape

(22900, 14)

In [55]:
data_three.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2021,Jan-Mar,UK residents,Air,Austria,Business,Independent,16-24,Female,28-90 nights,230.065,7822.21,92026.000,1
1,2021,Jan-Mar,UK residents,Air,Austria,Business,Independent,35-44,Male,4-13 nights,331.355,1325.42,331355.000,1
2,2021,Jan-Mar,UK residents,Air,Austria,Business,Non-Independent,16-24,Male,14-27 nights,230.065,4831.365,340036.070,1
3,2021,Jan-Mar,UK residents,Air,Austria,Business,Non-Independent,45-54,Male,1-3 nights,283.903,567.806,16182.471,1
4,2021,Jan-Mar,UK residents,Air,Bulgaria,Business,Independent,25-34,Male,4-13 nights,175.549,877.745,35109.800,1

###### Combine all datasets into one

In [56]:
data= pd.concat([data_one , data_two_plus , data_three] , axis=0 , ignore_index='True')

In [57]:
data.head()

,Year,quarter,ukos,mode,country,purpose,package,Age,Sex,duration,visits,nights,expend,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [58]:
data.shape

(425024, 14)

###### Renaming some columns
Rename the following columns:
- ukos to where_contact_lives
- package to Holiday_Package
- duration to Duration of visit
- expend to Amount_Spent

In [62]:
data1=data.rename(columns= {'ukos':'where_contact_lives' , 'package':'Holiday_Package' , 'duration':'Duration_of_Visit' , 'expend':'Amount_Spent'})

In [63]:
data1.head()

,Year,quarter,where_contact_lives,mode,country,purpose,Holiday_Package,Age,Sex,Duration_of_Visit,visits,nights,Amount_Spent,sample
0,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,Austria,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [70]:
#Create a mapping for all countries we want to include in our analysis
#Codes have been taken from data documentation
mapped_country = {
        10: 'Austria',
        11: 'Belgium',
        12: 'Bulgaria',
        13: 'Croatia',
        14: 'Czech Republic',
        15: 'Cyprus EU',
        16: 'Cyprus Non EU',
        17: 'Denmark',
        18: 'Estonia',
        19: 'Finland',
        20: 'France',#Includes Monaco
        21: 'Germany',
        22: 'Gibraltar',
        23: 'Greece',
        24: 'Hungary',
        25: 'Iceland',
        26: 'Irish Republic',
        27: 'Italy', #Includes San Marino and Vatican City
        28: 'Latvia',
        29: 'Lithuania',
        30: 'Luxembourg',
        31: 'Malta',
        32: 'Netherlands',
        33: 'Norway',
        34: 'Poland',
        35: 'Portugal',#Includes Azores and Madeira
        36: 'Romania',
        37: 'Russia',
        38: 'Spain',#Includes Andorra, Canary Islands
        39: 'Slovakia',
        40: 'Slovenia',
        41: 'Sweden',
        42: 'Switzerland',#Includes Liechtenstein
        43: 'Turkey',
        44: 'Channel Islands',
        45: 'Other Europe',#Table does not specify further 
        }

In [71]:
#Swap keys and values in mapped_country so string name is the key
mapped_country1 = {v: k for k, v in mapped_country.items()}
#Convert countries to numerical codes
data1.replace(mapped_country1, inplace = True)

In [72]:
data1.head()

,Year,quarter,where_contact_lives,mode,country,purpose,Holiday_Package,Age,Sex,Duration_of_Visit,visits,nights,Amount_Spent,sample
0,2009,Jan-Mar,UK residents,Air,10,Holiday,Independent,0-15,Male,4-13 nights,1600.680374,11204.762616,1.103402e+06,3.0
1,2009,Jan-Mar,UK residents,Air,10,Holiday,Independent,0-15,Female,4-13 nights,1600.680374,11204.762616,1.125278e+06,3.0
2,2009,Jan-Mar,UK residents,Air,10,Holiday,Independent,16-24,Male,4-13 nights,3064.743058,20873.377956,1.622982e+06,3.0
3,2009,Jan-Mar,UK residents,Air,10,Holiday,Independent,16-24,Female,4-13 nights,2702.755561,12411.702616,1.164191e+06,2.0
4,2009,Jan-Mar,UK residents,Air,10,Holiday,Independent,16-24,Female,14-27 nights,525.351507,7354.921102,7.633357e+05,1.0

In [93]:
#Quickly create a list of numbers for countries
cou=np.arange(10,46,1)
type(cou)
country_range= cou.tolist()

In [94]:
print(country_range)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [95]:
#remove countries which are not in range 
data2 = data1.loc[data1['country'].isin(country_range)]

In [96]:
#Return country to String category level
data2 = data2.replace(mapped_country)

In [97]:
data2['country'].describe()

count     278060
unique        36
top       France
freq       36054
Name: country, dtype: object

In [98]:
#clean up the index
find_null_data = data2.reset_index(drop=True)

#### Summary of null values in the data

In [99]:
#Find out if there are null values in your data
#Are there any null values:
print(find_null_data.isnull().values.any())
#Find out how many - This gives you the breakdown per column
print('How many in each column?'),
print(find_null_data.isnull().sum())
#Gives you total overall
print('How many null values in total?')
print(find_null_data.isnull().sum().sum())

True
How many in each column?
Year                      0
quarter                   0
where_contact_lives       0
mode                      0
country                   0
purpose                   0
Holiday_Package           0
Age                       0
Sex                    1135
Duration_of_Visit         0
visits                 7876
nights                 7877
Amount_Spent             15
sample                  539
dtype: int64
How many null values in total?
17442

In [100]:
#lets delete the null values
dropped_null=find_null_data.dropna()

In [ ]:
## Verifying deletion

In [101]:
dropped_null.isnull().sum()

Year                   0
quarter                0
where_contact_lives    0
mode                   0
country                0
purpose                0
Holiday_Package        0
Age                    0
Sex                    0
Duration_of_Visit      0
visits                 0
nights                 0
Amount_Spent           0
sample                 0
dtype: int64

In [102]:
#check each column if unwanted values exist
print(f"Year {dropped_null['Year'].unique()}")
print(f"quarter {dropped_null['quarter'].unique()}")
print(f"where contact lives {dropped_null['where_contact_lives'].unique()}")
print(f"mode ={dropped_null['mode'].unique()}")
print(f"Country {dropped_null['country'].unique()}")
print(f"Purpose {dropped_null['purpose'].unique()}")
print(f"Holiday package {dropped_null['Holiday_Package'].unique()}")
print(f"Age {dropped_null['Age'].unique()}")
print(f"Sex {dropped_null['Sex'].unique()}")
print(f"Duration_of_Visit {dropped_null['Duration_of_Visit'].unique()}")

Year [2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
quarter ['Jan-Mar' 'Apr-Jun' 'Jul-Sep' 'Oct-Dec']
where contact lives ['UK residents' 'Overseas residents']
mode =['Air' 'Sea' 'Tunnel']
Country ['Austria' 'Belgium' 'Bulgaria' 'Croatia' 'Czech Republic' 'Cyprus EU'
 'Cyprus Non EU' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Gibraltar' 'Greece' 'Hungary' 'Iceland' 'Irish Republic' 'Italy'
 'Latvia' 'Lithuania' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Poland'
 'Portugal' 'Romania' 'Russia' 'Spain' 'Slovakia' 'Slovenia' 'Sweden'
 'Switzerland' 'Turkey' 'Other Europe' 'Channel Islands']
Purpose ['Holiday' 'Business' 'VFR' 'Miscellaneous' 'Study' 'Transit']
Holiday package ['Independent' 'Non-Independent']
Age ['0-15' '16-24' '25-34' '35-44' '45-54' '55-64' '65 & over' 'D/K']
Sex ['Male' 'Female' 'Dont know' ' ']
Duration_of_Visit ['4-13 nights' '14-27 nights' '1-3 nights' '28-90 nights' 'Nil Stay'
 '3-6 months' '6 months-year' 'Stay not known']

In [103]:
#remove 'D/K' in Age  
dropped_null1= dropped_null[dropped_null.Age != 'D/K']
#remove 'Donk know' and ' ' in Sex
list= ['Dont know' , ' ']
dropped_null2= dropped_null1[dropped_null1.Sex.isin(list) == False]
#remove 'Stay not known' in Duration of visit
dropped_null3= dropped_null2[dropped_null2.Duration_of_Visit != 'Stay not known']

In [104]:
#Recheck the affected column if unwanted values still exist

print(f"Age {dropped_null3['Age'].unique()}")
print(f"Sex {dropped_null3['Sex'].unique()}")
print(f"Duration_of_Visit {dropped_null3['Duration_of_Visit'].unique()}")

Age ['0-15' '16-24' '25-34' '35-44' '45-54' '55-64' '65 & over']
Sex ['Male' 'Female']
Duration_of_Visit ['4-13 nights' '14-27 nights' '1-3 nights' '28-90 nights' 'Nil Stay'
 '3-6 months' '6 months-year']

In [105]:
dropped_null3.shape

(265285, 14)

In [106]:
dropped_null3.columns

Index(['Year', 'quarter', 'where_contact_lives', 'mode', 'country', 'purpose',
       'Holiday_Package', 'Age', 'Sex', 'Duration_of_Visit', 'visits',
       'nights', 'Amount_Spent', 'sample'],
      dtype='object')

In [107]:
dropped_null3['Duration_of_Visit'].value_counts()

4-13 nights      104515
1-3 nights        89704
14-27 nights      35584
Nil Stay          16382
28-90 nights      15527
3-6 months         2794
6 months-year       779
Name: Duration_of_Visit, dtype: int64

In [ ]:
#Drop sample, as it is not needed for our analysis

dropped_sample = dropped_null3.drop(['sample'], axis=1)

##### Splitting the data and writing to file

In [ ]:
dropped_sample.shape

In [ ]:
#UK Residents
UK_Residents = dropped_sample[dropped_sample['where_contact_lives'] == 'UK residents' ]
UK_Residents.shape

In [ ]:
UK_Residents.head()

In [ ]:
# Residents
Non_UK_Residents = dropped_sample[dropped_sample['where_contact_lives'] == 'Overseas residents' ]
Non_UK_Residents.shape

In [ ]:
Non_UK_Residents.head()

In [ ]:
#WRITE TO FILE
UK_Residents.to_excel(r'Travelpac_UK_Resident.xlsx', index=False)

In [ ]:
Non_UK_Residents.to_excel(r'Travelpac_Non_UK_Resident.xlsx', index=False)